<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.john.hub.dao.NewsMapper">
    <insert id="saveNews" parameterType="cn.john.hub.domain.NewsDO">
        INSERT IGNORE INTO news(title,brief,url,siteId)
        VALUES
        <foreach collection="list" item="news" separator=",">
            (#{news.title},#{news.brief},#{news.url},#{news.siteId})
        </foreach>
    </insert>
</mapper>